.featured {
  position: relative;
  display: flex;
  justify-content: center;
  height: 93vh;
  color: white;
  background-image: url("/img/ts.gif");
  background-size: cover;
  overflow: hidden;

  .container {
    position: relative;
    width: 1260px;
    display: flex;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 60px;

        span {
          font-style: italic;
          font-weight: 300;
        }
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 5px;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          input {
            border: none;
            outline: none;

            &::placeholder {
              color: gray;
            }
          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: #1dbf73;
          color: white;
          align-self: flex-end;
          cursor: pointer;
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          width: max-content;
        }

        button {
          width: max-content;
          color: white;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;
        }
      }
    }

    .right {
      height: 100%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.featured::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  z-index: 0;
}

.featured .container {
  position: relative;
  z-index: 1;
}
