.home {
  .features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    &.dark {
      background-color: #a91d3a;
      color: white !important;

      h1 {
        color: white !important;
      }
      h2 {
        color: white !important;
        padding: 0px 0px 24px;
        font-size: 32px !important;
      }
      p {
        color: white !important;
        margin-bottom: 20px !important;
      }
      .title {
        color: white !important;
        font-weight: 500 !important;
        font-size: 18px !important;
      }
      img {
        width: 100%;
      }

      button {
        background-color: white;
        color: #62646a;
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        padding: 12px 24px;
        border-radius: 5px;
        border: 1px solid transparent;
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer;
        width: max-content;
      }
    }
    .container {
      width: 1250px;
      align-items: center;
      gap: 200px;
      display: flex;
      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &:first-child {
          flex: 2;
        }

        &:last-child {
          flex: 3;
        }
        h1 {
          font-weight: 500;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
          line-height: 26px;
          color: gray;
          font-weight: 400;
        }
        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          font-size: 18px;
          color: #404145;

          img {
            width: 24px;
            height: 24px;
          }
        }
        video {
          width: 650px;
          border-radius: 5px;
        }
      }
    }
  }
.another{
  
  padding-top: 40px;
  margin: 24px auto 24px;
  display: block;
  background-color: #f5f5f5;
  .h2in{
    color: #404145;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    margin-left: 25px;
    gap: 15px;
  }
}
}
