.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(169, 29, 58);
  color: white;
  border-color: black;
  transition: 0.5s all ease;
  position: sticky;
  top: 0;
  z-index: 999;

  &.active{
    background-color: white;
    color: black;
  }
  .container {
    width: 1260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    .logo {
      font-size: 34px;
      font-weight: bold;
      .dot {
        font-weight: bold;
        color: #1dbf73;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-weight: 500;
      font-family: 'Montserrat', sans-serif;

      .user{
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        img{
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
        }
        .options{
          position: absolute;
          right: 0;
          top: 50px;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          border: 1px solid lightgray;
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: gray;
          width: 200px;
          font-weight: 300;
        }
      }
      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }
  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }
  .menu {
    width: 1100px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
  }
}
